<h1>Edit <%= @post.title %> you indecisive motherfucker</h1>

<form action="<%= post_url(@post) %>" method="POST">
  <%= hidden_form_inputs('PATCH') %>

  <label>Title
    <br>
    <input
      type="text"
      name="post[title]"
      value="<%= @post.title %>">
  </label><br>

  <label>Content
    <br>
    <textarea
      name="post[content]"><%= @post.content %></textarea>
  </label><br>

  <label>URL
    <br>
    <input
      type="text"
      name="post[url]"
      value="<%= @post.url %>">
  </label><br>

  <input type="hidden" name="sub_id" value="<%= @sub.id %>">

  <button>Submit</button>
</form>
