<h1><%= @post.title %></h1>

<p><%= @post.content %></p>
<a href="<%= @post.url %>">Link</a><br>

<%= render "comments/comment", parent: @post %>


<a href="<%= new_post_comment_url(@post) %>">Write a Comment!</a>
